title: Solo Faith Church Inc. Concord NC Blog
description: Community updates, faith resources, and local outreach highlights.

url: "https://solofaithchurchincconcordnc-lgtm.github.io"
baseurl: "/blog"

theme: minima

plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag

markdown: kramdown
